<div class="pdp__finish">
  <h3 class="pdp__finish-headline">Add a finish</h3>
  <div class="grid"><!--
    {% assign _product = all_products['wood-frame'] %}
    {% include 'finish-block', classes: 'js-finish-panel-trigger', finish_handle: 'wood-frame', finish_image: _product.featured_image, finish_title: 'Frames - Wood', finish_product: _product %}
    {% assign _product = all_products['metal-frame'] %}
    {% include 'finish-block', classes: 'js-finish-panel-trigger', finish_handle: 'metal-frame', finish_image: _product.featured_image, finish_title: 'Frames - Metal', finish_product: _product %}
    {% assign _product = all_products['mounted-on-plak'] %}
    {% include 'finish-block', classes: 'js-finish-panel-trigger', finish_handle: 'mounted-on-plak', finish_image: _product.featured_image, finish_title: 'Mounted on Plak', finish_product: _product, print_type: print_type %}
    {% assign _product = all_products['mounted-on-canvas'] %}
    {% include 'finish-block', classes: 'js-finish-panel-trigger', finish_handle: 'mounted-on-canvas', finish_image: _product.featured_image, finish_title: 'Mounted on Canvas', finish_product: _product, print_type: print_type %}
--></div>
</div>
