<!-- 	   start related            -->
{% assign related_product_new_array_title = nil %}

{% for collection in product.collections %}

{% for product_ink in collection.products limit: 20 %}
{% assign product_ink_down = product_ink.title | downcase %}
{% assign product_down = product.title | downcase %}

{% if product_down contains product_ink_down %}
 
{% assign related_product_new_array_title = related_product_new_array_title | append: product_ink.title | append: '-' | append: product_ink.first_available_variant.sku | append: '//'  %} 
{% endif %}
{% endfor %}
{% endfor %}

{% if related_product_new_array_title != nil %}
{% assign related_product_new_array_title = related_product_new_array_title | split: '//' | uniq | join: '//'   %}
{% assign related_product_new_array_title = related_product_new_array_title | split: '//'     %}
{% assign related_product_new_array_size = related_product_new_array_title | size %}
<div class="meta-div-size" style="display:none">{{ related_product_new_array_size }} </div>
 
{% if related_product_new_array_size > 1 %}
<div class="feature-collections">
  <div class="feature-collection meta-related" style="padding: 0px;" >
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item all--12">
          <div class="feature-collection__title">
            <h2 class="text-light">Collect Them All</h2>
          </div>
        </div>
      </div>
    </div>
 
    <div class="feature-collection__slider" data-collection-slider>
      {% for related_product in related_product_new_array_title limit: 20 %}
      {% assign related_product_hand =  related_product | handleize %}
      {% assign _product = all_products[related_product_hand] %}
      {% include 'collection-item'
          product: _product,
      is_slide: true,
      attrs: 'data-collection-slide'
      %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div> 
{% endif %}
<style>
  .meta-div .meta-div {
    display: none;
  }
</style>
<div class="meta_all" style="display:none">
  {% paginate collections["all"].products by 10000 %}
  {% assign product_down_main = product.title | downcase %}

  {% for product_loop in collections["all"].products %}
  {% assign product_loop_down = product_loop.title | downcase %}

  {% if product_down_main contains product_loop_down  %}
  {{  product_loop.title  }} <br> 
  {% endif %}
  {% endfor %}
  {% endpaginate %}
</div>