<div class="pdp__finish">
  <h3 class="pdp__finish-headline">Pick a style</h3>
  <div class="grid"><!--
    {% assign _product = all_products['wood-traditional'] %}
    {% include 'finish-block', classes: 'js-finish-panel-trigger', finish_handle: 'wood-traditional', finish_image: _product.featured_image, finish_title: 'Wood - Traditional', finish_product: _product %}
    {% assign _product = all_products['wood-contemporary'] %}
    {% include 'finish-block', classes: 'js-finish-panel-trigger', finish_handle: 'wood-contemporary', finish_image: _product.featured_image, finish_title: 'Wood - Contemporary', finish_product: _product %}
    {% assign _product = all_products['metal-frame'] %}
    {% include 'finish-block', classes: 'js-finish-panel-trigger', finish_handle: 'metal-frame', finish_image: _product.featured_image, finish_title: 'Metal', finish_product: _product %}
    {% assign _product = all_products['stainless-steel'] %}
    {% include 'finish-block', classes: 'js-finish-panel-trigger', finish_handle: 'stainless-steel', finish_image: _product.featured_image, finish_title: 'Stainless Steel', finish_product: _product %}
--></div>
</div>
