<div class="pdp__finish-panel" data-frame-handle="{{ product.handle }}" data-finish-panel>
  <div class="pdp__close pdp__close--finish">
    <span class="icon icon-close-48 small--hide"></span>
    <span class="icon icon-close-24 medium-up--hide"></span>
  </div>
  <h3>{{ title }}</h3>
  <div class="pdp__finish-select-color">Select color:</div>
  <div class="grid">
    {% for variant in product.variants %}
      {% unless child_color_values contains variant[color_option] %}
        {% if variant_children contains variant[color_option] %}
          {% assign variant_handle = variant[color_option] | handleize %}
          {% for image in product.images %}
            {% assign alt_handle = image.alt | handleize %}
            {% if alt_handle contains variant_handle %}
              {% assign feature_image = image %}
              {% break %}
            {% endif %}
          {% endfor %}

          {% include 'readymade-finish-block',
            attrs: 'data-frame-finish-select',
            classes: 'js-frame-finish-select',
            finish_handle: product.handle,
            variant_id: variant.id,
            finish_image: variant.featured_image,
            finish_title: variant[color_option],
            finish_product: product,
            finish_feature_image: feature_image,
            finish_variant: variant
          %}
        {% endif %}
        {% assign child_color_values = variant[color_option] | append: ',' | append: child_color_values %}
      {% endunless %}
    {% endfor %}
  </div>
</div>