<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
    <title>Sign in / Create an account</title>
    <desc>Created with Sketch.</desc>
    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="account-32px" fill="#000000">
            <g id="Combined-Shape-2">
                <path d="M17.6980702,32 L-1.36779477e-13,32 C-1.36779477e-13,31.3581538 -1.36779477e-13,30.0830769 -1.36779477e-13,28.1747692 C-1.36779477e-13,25.3123077 1.13110345,22.9446154 3.79841379,21.9790769 C6.12376242,21.137325 9.16039276,21.0191189 17.1436099,21.0026451 C16.4124105,22.5021332 16,24.2006114 16,26 C16,28.2135779 16.6241218,30.2744429 17.6980702,32 Z M15,16 C10.581722,16 7,12.418278 7,8 C7,3.581722 10.581722,-1.79412041e-13 15,-1.79412041e-13 C19.418278,-1.79412041e-13 23,3.581722 23,8 C23,12.418278 19.418278,16 15,16 Z M26,19 L27.854,22.9500559 L32,23.583295 L29,26.6580141 L29.708,31 L26,28.9504502 L22.292,31 L23,26.6580141 L20,23.583295 L24.146,22.9500559 L26,19 Z" id="Combined-Shape"></path>
            </g>
        </g>
    </g>
</svg>