{%- capture main_picture_sources %}
  {% include 'component-source',
    source_image_1x: section.settings.main_image,
    source_size_1x: '512x432',
    source_image_2x: section.settings.main_image,
    source_size_2x: '1024x864',
    source_crop: 'top'
  %}
{% endcapture %}

{% capture warning_icon %}
  {% include 'svg-caution-16px' %}
{% endcapture %}

<div class="framing__content framing__content--canvas-mounting">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item all--12 xlarge-up--10 push--xlarge-up--1">
        <div class="framing__details">
          <div class="framing__details-image">
            {% include 'component-picture',
              sources: main_picture_sources,
              resource: section.settings.main_image,
              default_size: '512x432',
              alt: page.title,
              picture_crop: 'top'
            %}
          </div>

          <div class="framing__details-content">
            {{ section.settings.content | replace: '[warning icon]', warning_icon }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name":"Page Content",
    "settings":[
      {
        "type":"image_picker",
        "id":"main_image",
        "label":"Image"
      },
      {
        "type":"richtext",
        "id":"content",
        "label":"Content"
      }
    ]
  }
{% endschema %}