{% if section.settings.enable_section %}
  <div class="original-poster-investment">
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item all--12 xlarge-up--10 push--xlarge-up--1">
          <div class="original-poster-investment__content">
            <h2 class="text-light">{{ section.settings.headline }}</h2>
            <p class="text-light">{{ section.settings.content }}</p>
          </div>
        </div>

        <div class="grid__item all--12 xlarge-up--10 push--xlarge-up--1">
          <h4 class="text-light">{{ section.settings.subheading }}</h4>

          <div class="original-poster__items" data-original-poster-slider>
            {% for block in section.blocks %}
              {% include 'original-poster-item',
                item_image: block.settings.poster_image,
                item_text: block.settings.poster_content,
                item_link: block.settings.poster_link,
                item_link_text: block.settings.poster_link_text,
                item_content: block.settings.poster_content
              %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
  {
    "name":"Investment Section",
    "settings":[
      {
        "type":"checkbox",
        "id":"enable_section",
        "label":"Enable Investment Section",
        "default":true
      },
      {
        "type":"text",
        "id":"headline",
        "label":"Headline",
        "default":"A great investment"
      },
      {
        "type":"textarea",
        "id":"content",
        "label":"Content",
        "default":"Original movie posters can become highly valued, prized collector items.<br>This can take years or sometimes days. Movies are universal, and the entire world loves classic movies like The Wizard of Oz, Gone with the Wind, Jaws, and many others will continue to grow in value. Qualities of a good investment include: great artwork, a notable star or director, and a movie you can watch over and over again."
      },
      {
        "type":"text",
        "id":"subheading",
        "label":"Subheading",
        "default":"Approximate Appreciation Values per Year"
      }
    ],
    "blocks":[
      {
        "type":"investment-poster",
        "name":"Investment Poster",
        "limit": 5,
        "settings":[
          {
            "type":"image_picker",
            "id":"poster_image",
            "label":"Poster Image"
          },
          {
            "type":"text",
            "id":"poster_content",
            "label":"Appreciation Value"
          },
          {
            "type":"url",
            "id":"poster_link",
            "label":"Poster Link"
          },
          {
            "type":"text",
            "id":"poster_link_text",
            "label":"Poster Link Text"
          }
        ]
      }
    ]
  }
{% endschema %}