<div class="hero" style="background-image: url('{{ 'about-hero.png' | asset_img_url: 'master' }}');"></div>
<div class="wrapper">
    <div class="medium-up--8 push--medium-up--2">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
</div>